<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    </head>
    <body>
        <%# 使用传递的变量 %>
        您的登录验证码为 <%= @code %>
    </body>
</html>